<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">Daycare Centre Clock in/out</h1>
    <p class="lead">Enter your name to authenticate into your account</p>
    <hr class="my-4">
    <h2>Authenticate</h2>

    <%= form_tag(authenticate_path, method: :post) do%>
      <div class="form-group">
        <div><%= text_field_tag :name, nil, placeholder: 'Employee Name', class: 'form-control' %></div>
      </div>
      <div><%= submit_tag 'Login', class: 'btn btn-primary'%></div>
    <% end%>
  </div>

  <hr>
  <%= render 'recent_login' %>
</div>
