<h1>Edit Clock</h1>
<%= form_for(@clock_event, url: user_clock_update_path(params[:id], @clock_event.id), method: :put) do |f|%>
  <%= f.datetime_field :start_time %>
  <%= f.datetime_field :end_time %>
  <%= f.submit 'Save' %>
<% end %>