<h1>Edit Clock</h1>
<p>If your browser doesn't show a dropdown; use the arrows on your keyboard to change a value</p>
<%= form_for(@clock_event, url: user_clock_update_path(params[:id], @clock_event.id), method: :put) do |f|%>
  <%= f.datetime_field :start_time %>
  <%= f.datetime_field :end_time %>
  <%= f.submit 'Save' %>
<% end %>